
*{
    margin:0;
    padding:0;
    font-family:'Poppins',Sans-Serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body{
    background-image: url(bg.png.webp);
    color: #fff;
    background-size:cover;
    background-position: center;
    background-color: transparent;
    
}
#header{
    width:100%;
    height:100vh;
    
    
}


.container{
    padding: 10px 10%;
}

nav{
    display:flex;
    align-items:center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width:140px;
    color:#e8c31c;
    font-family:'Poppins',Sans-Serif;
    font-size:80px;
    font-weight: bold;
}
.span-name{
    color:white;
    font-family:'Poppins',Sans-Serif;
    font-size:80px;
    font-weight: bold;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin:10px 20px;
}
nav ul li a{
    color:white;
    text-decoration: none;
    font-size:18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width:0;
    height:3px;
    background:#e1eb34;
    position:absolute;
    left:0;
    bottom:-6px;
    transition: 0.6s;
}
nav ul li a:hover::after{
    width:100%;
}
.text{
    margin-top: 20%;
    font-size: 40px;
    font-weight: 800;
    
   
}
.header-text{
    font-size: 70px;
    margin-top: 30px;
}

.name-span{
    color:#e8c31c;

}

#about{
    padding:70px 0;
    color:#b6bab3;
    
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 20px;
}

.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width:70%;
    border-radius: 200px;
    border-style: solid;
    border-width: 4px;
    border-color: white;

}
.about-col-2{
    flex-basis: 40%;
}
.sub-para{
    font-size:25px;
    font-family:"Playfair Display";
}
.sub-title{
    color:#e8c31c;
    font-size:50px;
    font-weight: 700;
}

.tab-title{
    display: flex;
    margin:20px 0 40px;
}
.tab-links{
    margin-right:60px;
    font-size:25px;
    font-family:"Playfair Display";
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content:'';
    width:0;
    height:3px;
    background:#e1eb34;
    position:absolute;
    left:0;
    bottom:-8px;
    transition: 0.6s;
}
.tab-links.active-link::after{
    width:60%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    font-size:20px;
}
.tab-contents ul li span{
    color:#e1eb34;
    font-size:20px;
    font-family:"Playfair Display";
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
#services{
    padding:40px 0;
    
}
.service-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 60px;
    margin-top: 40px;
    margin-bottom: 40px;
    
}
.service-list div{
    background: #acadac;
    padding:40px;
    font-size: 20px;
    font-weight: 400;
    border-radius:10px;
    transition: background 0.5s,transform 0.5s;
}
.service-list div h2{
    color:#cf2d08;
    font-weight: 500;
    margin-bottom: 15px;
    font-family:"Playfair Display";
}
.service-list div p{
    color:black;
    padding-bottom: 10px;
    font-family:"Playfair Display";
    
}
.service-list div i{
    font-size:50px;
    margin-bottom: 30px;
    color:black;
}

.service-list div a{
    font-size:20px;
    color:white;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    font-family:"Playfair Display";
}
.service-list div:hover{
    transform: translateY(-10px);
    background:#e1eb34;
}
#portfolio{
    padding: 40px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 80px;
    margin-top: 40px;
    
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 70%;
    border-radius: 10px;
    display: block;
    transform: transform 0.5s;
}
.task{
    width:70%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.5),#e1eb34);
    border-radius:10px;
    position:absolute;
    left:0;
    bottom:0;
    overflow:hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:0 40px;
    text-align: center;
    font-size:20px;
    transition: height 0.5s;
}
.task h3{
    font-weight: 400;
    margin-bottom: 20px;
}
.task a{
    margin-top: 20px;
    color:#0826cf;
    text-decoration: none;
    font-size:20px;
    line-height: 60px;
    width: 60px;
    height: 60px;
    border-radius: 40%;
    text-align: center;
}

.work:hover img{
    transform: scale(1.1);
}
.work:hover .task{
    height:100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width:fit-content;
    padding:14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color:white; 
    border-style: solid;
    font-family: "Playfair Display";
    font-size:20px;
    transition: background 0.5s;
}
.btn:hover{
    background: white;
    color:black;
}

<!------->
.contact{
    flex-basis: 35%;
}
.cv{
    flex-basis: 40%;
    
}


.contact p{
    margin-top:30px;
    font-family: "Playfair Display";
    font-size:25px;
}
.contact p i{
    color:#e1eb34;
    margin-right:15px;
    font-size:25px;
}
.social-icons{
    margin-top:30px; 

}
.social-icons a{
    text-decoration: none;
    font-size:30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transform: transform 0.5s;
}
.social-icons a:hover{
    color:#e1eb34;
    transform: translateY(-5px);
}
.copyright{
    width:100%;
    text-align: center;
    padding:20px 0;
    background:#bfbf0b ;
    font-weight: 300;
    margin-top: 20px;
}
.copyright p{
    font-family: "Playfair Display";
    font-size: 20px;
    color:#0a011c;
    font-weight: 700;
}
nav .fa-solid{
    display: none;
}

@media only screen and (max-width: 600px){
    .text{
        margin-top: 100%;
        font-size: 20px ;
    }
    .header-text{
        font-size: 30px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background:#bfbf0b ;
        position: fixed;
        top:0;
        right:-200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 30px;
    }
    .sub-para{
        font-size: 22px;
    }
    .about-col-1,.about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 25px;
    }
    .tab-links{
        font-size: 20px;
    }
    .tab-contents{
        font-size: 20px;
    }
    .tab-contents ul li{
        font-size:16px;
    }
    .tab-contents ul li span{
        font-size:16px;
    }
    .task{
        font-size:12px;
   }
    .contact, .cv{
        flex-basis: 100%;
        
    }
    .contact p{
        font-size: 18px;
    }
    .btn{
        font-size: 15px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .copyright p{
        font-size:15px;
    }
}